<nav class="header">
	<div class="Nav-component">
		<div class="Nav-width">
			<div class="Nav">
				<div class="Nav-Content">
					<% let loguser="" ; let notices=0; %>
						<nav class="Nav-wrapper">
							<a class="Nav-link nav_sec" href="/" aria-label="home">
								<div class="Nav-item-hover" id="home"><svg width="16px" height="16px" viewBox="0 0 16 16"
										xmlns="http://www.w3.org/2000/svg" fill="currentColor">
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M8.36 1.37l6.36 5.8-.71.71L13 6.964v6.526l-.5.5h-3l-.5-.5v-3.5H7v3.5l-.5.5h-3l-.5-.5V6.972L2 7.88l-.71-.71 6.35-5.8h.72zM4 6.063v6.927h2v-3.5l.5-.5h3l.5.5v3.5h2V6.057L8 2.43 4 6.063z" />
									</svg>
									<div class="Nav-item">Home</div>
								</div>
							</a>
							<% if(locals.connected){ %>
								<a class="Nav-link" href="/explore" aria-label="explore">
									<div class="Nav-item-hover" id="explore"><svg viewBox="0 0 24 24">
											<g>
												<path
													d="M21 7.337h-3.93l.372-4.272c.036-.412-.27-.775-.682-.812-.417-.03-.776.27-.812.683l-.383 4.4h-6.32l.37-4.27c.037-.413-.27-.776-.68-.813-.42-.03-.777.27-.813.683l-.382 4.4H3.782c-.414 0-.75.337-.75.75s.336.75.75.75H7.61l-.55 6.327H3c-.414 0-.75.336-.75.75s.336.75.75.75h3.93l-.372 4.272c-.036.412.27.775.682.812l.066.003c.385 0 .712-.295.746-.686l.383-4.4h6.32l-.37 4.27c-.036.413.27.776.682.813l.066.003c.385 0 .712-.295.746-.686l.382-4.4h3.957c.413 0 .75-.337.75-.75s-.337-.75-.75-.75H16.39l.55-6.327H21c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm-6.115 7.826h-6.32l.55-6.326h6.32l-.55 6.326z">
												</path>
											</g>
										</svg>
										<div class="Nav-item">Explore</div>
									</div>
								</a>
								<a class="Nav-link" href="/notifications" aria-label="notifications">
									<div class="Nav-item-hover pos_rel" id="notic" slot="position:relative;"><svg viewBox="0 0 24 24">
											<g>
												<path
													d="M21.697 16.468c-.02-.016-2.14-1.64-2.103-6.03.02-2.532-.812-4.782-2.347-6.335C15.872 2.71 14.01 1.94 12.005 1.93h-.013c-2.004.01-3.866.78-5.242 2.174-1.534 1.553-2.368 3.802-2.346 6.334.037 4.33-2.02 5.967-2.102 6.03-.26.193-.366.53-.265.838.102.308.39.515.712.515h4.92c.102 2.31 1.997 4.16 4.33 4.16s4.226-1.85 4.327-4.16h4.922c.322 0 .61-.206.71-.514.103-.307-.003-.645-.263-.838zM12 20.478c-1.505 0-2.73-1.177-2.828-2.658h5.656c-.1 1.48-1.323 2.66-2.828 2.66zM4.38 16.32c.74-1.132 1.548-3.028 1.524-5.896-.018-2.16.644-3.982 1.913-5.267C8.91 4.05 10.397 3.437 12 3.43c1.603.008 3.087.62 4.18 1.728 1.27 1.285 1.933 3.106 1.915 5.267-.024 2.868.785 4.765 1.525 5.896H4.38z">
												</path>
											</g>
										</svg>
										<% if(notices && notices> 0) { %><span class="notic"><%- notices %></span>
											<% } %>
												<div class="Nav-item">Notifications</div>
									</div>
								</a>
								<a class="Nav-link" href="/profile/<%-loguser%>" aria-label="profile">
									<div class="Nav-item-hover" id="profile"><svg viewBox="0 0 24 24">
											<g>
												<path
													d="M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z">
												</path>
											</g>
										</svg>
										<div class="Nav-item">Profile</div>
									</div>
								</a>
								<a class="Nav-link" href="https://besocial.help" target="_blank">
									<div class="Nav-item-hover" id="help"><svg viewBox="0 0 32 32">
											<path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z" />
											<circle cx="16" cy="23.5" r="1.5" />
											<path
												d="M17,8H15.5A4.49,4.49,0,0,0,11,12.5V13h2v-.5A2.5,2.5,0,0,1,15.5,10H17a2.5,2.5,0,0,1,0,5H15v4.5h2V17a4.5,4.5,0,0,0,0-9Z" />
										</svg>
										<div class="Nav-item">Help</div>
									</div>
								</a>
								<div id="moremenu" class="Nav-link">
									<div class="Nav-item-hover"><svg viewBox="0 0 24 24">
											<g>
												<path
													d="M16.5 10.25c-.965 0-1.75.787-1.75 1.75s.784 1.75 1.75 1.75c.964 0 1.75-.786 1.75-1.75s-.786-1.75-1.75-1.75zm0 2.5c-.414 0-.75-.336-.75-.75 0-.413.337-.75.75-.75s.75.336.75.75c0 .413-.336.75-.75.75zm-4.5-2.5c-.966 0-1.75.787-1.75 1.75s.785 1.75 1.75 1.75 1.75-.786 1.75-1.75-.784-1.75-1.75-1.75zm0 2.5c-.414 0-.75-.336-.75-.75 0-.413.337-.75.75-.75s.75.336.75.75c0 .413-.336.75-.75.75zm-4.5-2.5c-.965 0-1.75.787-1.75 1.75s.785 1.75 1.75 1.75c.964 0 1.75-.786 1.75-1.75s-.787-1.75-1.75-1.75zm0 2.5c-.414 0-.75-.336-.75-.75 0-.413.337-.75.75-.75s.75.336.75.75c0 .413-.336.75-.75.75z">
												</path>
												<path
													d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75zm0-20C6.9 2.75 2.75 6.9 2.75 12S6.9 21.25 12 21.25s9.25-4.15 9.25-9.25S17.1 2.75 12 2.75z">
												</path>
											</g>
										</svg>
										<div class="Nav-item">More</div>
									</div>
									<div class="more-menu-background" style="display: none;">
										<div class="more-modal-wrapper">
											<div class="more-menu-content" style="top: 240px; left: 147px;">
												<a class="more-menu-item more-item" href="https://besocial.help" target="_blank"
													id="help"><span>Help</span><span><svg viewBox="0 0 32 32">
															<path
																d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z" />
															<circle cx="16" cy="23.5" r="1.5" />
															<path
																d="M17,8H15.5A4.49,4.49,0,0,0,11,12.5V13h2v-.5A2.5,2.5,0,0,1,15.5,10H17a2.5,2.5,0,0,1,0,5H15v4.5h2V17a4.5,4.5,0,0,0,0-9Z" />
														</svg></span></a>
												<a class="more-menu-item" href="/rewards" id="reward" aria-label="rewards"><span>Reward
														Pool</span><span><svg viewBox="0 0 168.594 168.594"
															style="enable-background:new 0 0 168.594 168.594;">
															<g>
																<path
																	d="M84.297,0c-2.463,0-4.77,1.21-6.17,3.237C72.75,11.021,25.6,80.144,25.6,109.899c0.002,32.364,26.334,58.694,58.697,58.694c32.365,0,58.697-26.331,58.697-58.695c0-29.755-47.15-98.877-52.525-106.661C89.068,1.21,86.762,0,84.297,0z M84.297,153.594c-24.092,0-43.695-19.602-43.697-43.695c0-18.587,27.51-64.32,43.697-88.954c16.189,24.634,43.697,70.367,43.697,88.954C127.994,133.992,108.391,153.594,84.297,153.594z" />
															</g>
														</svg></span></a>
												<a class="more-menu-item" href="/staking" id="staking"
													aria-label="staking"><span>Staking</span><span><svg viewBox="0 0 101.15 122.88"
															style="enable-background:new 0 0 101.15 122.88">
															<g>
																<path
																	d="M18.03,27.19c8.26,2.76,19.76,4.46,32.53,4.46c12.77,0,24.27-1.71,32.53-4.46c7.25-2.42,11.74-5.35,11.74-8.22 c0-2.87-4.48-5.8-11.74-8.22C74.83,8,63.33,6.29,50.56,6.29c-12.77,0-24.27,1.71-32.53,4.46C2.65,15.89,2.22,21.91,18.03,27.19 L18.03,27.19z M94.84,85.59c-2.58,1.77-5.87,3.32-9.76,4.62c-8.9,2.97-21.11,4.81-34.52,4.81c-13.41,0-25.62-1.84-34.52-4.81 c-3.84-1.28-7.11-2.82-9.68-4.55v18.85c0.57,2.67,4.92,5.37,11.67,7.62c8.26,2.76,19.76,4.46,32.53,4.46s24.27-1.71,32.53-4.46 c5.01-1.67,8.69-3.59,10.5-5.55c1.49-1.62,1.25-2.69,1.25-4.64V85.59L94.84,85.59z M0,18.97C0,13.1,6.13,8.12,16.04,4.81 C24.94,1.84,37.15,0,50.56,0c13.41,0,25.62,1.84,34.52,4.81c9.02,3.01,14.91,7.41,15.89,12.61c0.12,0.33,0.18,0.69,0.18,1.06v86.74 c0,6.01-11.49,11.33-16.07,12.86c-8.9,2.97-21.11,4.81-34.52,4.81c-13.41,0-25.62-1.84-34.52-4.81 c-4.69-1.57-15.97-6.71-15.97-12.86c0-0.72,0-1.32,0-2.01C0.07,75.12,0,47.04,0,18.97L0,18.97z M6.36,76.64 c0.57,2.67,4.92,5.37,11.67,7.62c8.26,2.76,19.76,4.46,32.53,4.46s24.27-1.71,32.53-4.46c7.25-2.42,11.74-5.35,11.74-8.22h0.03 V57.73c-2.58,1.77-5.89,3.32-9.78,4.62c-8.9,2.97-21.11,4.81-34.52,4.81c-13.41,0-25.62-1.84-34.52-4.81 c-3.84-1.28-7.11-2.82-9.68-4.55V76.64L6.36,76.64z M6.36,48.78c0.57,2.67,4.92,5.37,11.67,7.62c8.26,2.76,19.76,4.46,32.53,4.46 s24.27-1.71,32.53-4.46c7.25-2.42,11.74-5.35,11.74-8.22h0.03V28.52c-2.58,1.77-5.89,3.32-9.78,4.62 c-8.9,2.97-21.11,4.81-34.52,4.81c-13.41,0-25.62-1.84-34.52-4.81c-3.84-1.28-7.11-2.82-9.68-4.55V48.78L6.36,48.78z" />
															</g>
														</svg></span></a>
												<a class="more-menu-item" href="/lpmining" id="mining" aria-label="mining"><span>LP
														Mining</span><span><svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
															<g>
																<path d="M64,0C28.715,0,0,28.715,0,64s28.715,64,64,64s64-28.715,64-64S99.285,0,64,0z" />
																<path
																	d="M64,192c-35.285,0-64,28.715-64,64s28.715,64,64,64s64-28.715,64-64S99.285,192,64,192z" />
																<path
																	d="M64,384c-35.285,0-64,28.715-64,64c0,35.285,28.715,64,64,64s64-28.715,64-64C128,412.715,99.285,384,64,384z" />
																<path
																	d="M256,0c-35.285,0-64,28.715-64,64s28.715,64,64,64s64-28.715,64-64S291.285,0,256,0z" />
																<path
																	d="M256,192c-35.285,0-64,28.715-64,64s28.715,64,64,64s64-28.715,64-64S291.285,192,256,192z" />
																<path
																	d="M256,384c-35.285,0-64,28.715-64,64c0,35.285,28.715,64,64,64s64-28.715,64-64C320,412.715,291.285,384,256,384z" />
																<path
																	d="M448,128c35.285,0,64-28.715,64-64S483.285,0,448,0c-35.285,0-64,28.715-64,64S412.715,128,448,128z" />
																<path
																	d="M448,192c-35.285,0-64,28.715-64,64s28.715,64,64,64c35.285,0,64-28.715,64-64S483.285,192,448,192z" />
																<path
																	d="M448,384c-35.285,0-64,28.715-64,64c0,35.285,28.715,64,64,64c35.285,0,64-28.715,64-64C512,412.715,483.285,384,448,384z" />
															</g>
														</svg></span></a>
												<a class="more-menu-item" href="/witnesses" id="witnesses"
													aria-label="witnesses"><span>Witnesses</span><span><svg viewBox="0 0 512 512"
															enable-background="new 0 0 512 512">
															<g>
																<path
																	d="m301.9,501h-91.7c-11.3,0-20.4-9.1-20.4-20.4v-34.7c-7.2-2.5-14.2-5.4-21.1-8.8l-24.6,24.6c-8,8-20.9,8-28.9,0l-64.8-64.8c-8-8-8-20.9 0-28.9l24.6-24.6c-3.3-6.9-6.3-13.9-8.8-21.1h-34.8c-11.3,0-20.4-9.1-20.4-20.4v-91.7c0-11.3 9.1-20.4 20.4-20.4h34.7c2.5-7.2 5.4-14.2 8.8-21.1l-24.5-24.7c-8-8-8-20.9 0-28.9l64.8-64.8c8-8 20.9-8 28.9,0l24.6,24.6c6.9-3.3 13.9-6.3 21.1-8.8v-34.7c0-11.3 9.1-20.4 20.4-20.4h91.7c11.3,0 20.4,9.1 20.4,20.4v34.7c7.2,2.5 14.2,5.4 21.1,8.8l24.6-24.5c8-8 20.9-8 28.9,0l64.8,64.8c3.8,3.8 6,9 6,14.4 0,5.4-2.2,10.6-6,14.4l-24.6,24.6c3.3,6.9 6.3,13.9 8.8,21.1h34.7c11.3,0 20.4,9.1 20.4,20.4v91.7c0,11.3-9.1,20.4-20.4,20.4h-34.7c-2.5,7.2-5.4,14.2-8.8,21.1l24.6,24.6c3.8,3.8 6,9 6,14.4 0,5.4-2.2,10.6-6,14.4l-64.8,64.8c-8,8-20.9,8-28.9,0l-24.6-24.6c-6.9,3.3-13.9,6.3-21.1,8.8v34.7c5.68434e-14,11.5-9.2,20.6-20.4,20.6zm-71.3-40.8h50.8v-29.4c0-9.3 6.3-17.4 15.3-19.8 14-3.7 27.5-9.3 40.1-16.7 8-4.7 18.2-3.4 24.7,3.2l20.8,20.8 35.9-35.9-20.8-20.8c-6.6-6.6-7.9-16.7-3.2-24.8 7.4-12.6 13-26.1 16.7-40.1 2.3-9 10.5-15.2 19.7-15.2h29.4v-50.8h-29.4c-9.3,0-17.4-6.3-19.7-15.2-3.7-14-9.3-27.5-16.7-40.1-4.7-8-3.4-18.2 3.2-24.7l20.8-20.8-35.9-35.9-20.8,20.8c-6.6,6.6-16.7,7.9-24.7,3.2-12.6-7.4-26.1-13-40.1-16.7-9-2.4-15.3-10.5-15.3-19.8v-29.7h-50.8v29.4c0,9.3-6.3,17.4-15.3,19.8-14,3.7-27.5,9.3-40.1,16.7-8,4.7-18.2,3.4-24.7-3.2l-20.8-20.8-35.9,35.9 20.8,20.8c6.6,6.6 7.9,16.7 3.2,24.7-7.4,12.6-13,26.1-16.7,40.1-2.4,9-10.5,15.3-19.8,15.3h-29.4v50.8h29.4c9.3,0 17.4,6.3 19.8,15.3 3.7,14 9.3,27.5 16.7,40.1 4.7,8 3.4,18.2-3.2,24.7l-20.8,20.8 35.9,35.9 20.8-20.8c6.6-6.6 16.8-7.9 24.7-3.2 12.6,7.4 26.1,13 40.1,16.7 9,2.4 15.3,10.5 15.3,19.8v29.6z" />
															</g>
															<g>
																<path
																	d="m256,376.2c-66.3,0-120.2-53.9-120.2-120.2s53.9-120.2 120.2-120.2 120.3,53.9 120.3,120.2-54,120.2-120.3,120.2zm0-199.6c-43.8,0-79.4,35.6-79.4,79.4s35.6,79.4 79.4,79.4c43.8,0 79.4-35.6 79.4-79.4s-35.6-79.4-79.4-79.4z" />
															</g>
														</svg></span></a>
												<a class="more-menu-item" href="https://breezescan.io" target="_blank"
													aria-label="explorer"><span>Explorer</span><span><svg viewBox="0 0 487.95 487.95"
															style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
															<g>
																<g>
																	<path
																		d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z" />
																</g>
															</g>
														</svg></span></a>
												<div class="more-menu-item" id="uiModeChange"><span>Display</span><span><svg
															viewBox="0 0 512 512">
															<g>
																<path fill="currentColor"
																	d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
																	data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
																<path fill="currentColor"
																	d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
																	data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
															</g>
														</svg></span></div>
												<div class="more-menu-item more-item" id="logout_btn_inn">Logout</div>
											</div>
										</div>
									</div>
								</div>
								<% } else {%>
									<a class="Nav-link" href="/explore" aria-label="explore">
										<div class="Nav-item-hover" id="explore"><svg viewBox="0 0 24 24">
												<g>
													<path
														d="M21 7.337h-3.93l.372-4.272c.036-.412-.27-.775-.682-.812-.417-.03-.776.27-.812.683l-.383 4.4h-6.32l.37-4.27c.037-.413-.27-.776-.68-.813-.42-.03-.777.27-.813.683l-.382 4.4H3.782c-.414 0-.75.337-.75.75s.336.75.75.75H7.61l-.55 6.327H3c-.414 0-.75.336-.75.75s.336.75.75.75h3.93l-.372 4.272c-.036.412.27.775.682.812l.066.003c.385 0 .712-.295.746-.686l.383-4.4h6.32l-.37 4.27c-.036.413.27.776.682.813l.066.003c.385 0 .712-.295.746-.686l.382-4.4h3.957c.413 0 .75-.337.75-.75s-.337-.75-.75-.75H16.39l.55-6.327H21c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm-6.115 7.826h-6.32l.55-6.326h6.32l-.55 6.326z">
													</path>
												</g>
											</svg>
											<div class="Nav-item">Explore</div>
										</div>
									</a>
									<a class="Nav-link" href="/" target="_blank" aria-label="help">
										<div class="Nav-item-hover" id="help"><svg viewBox="0 0 32 32">
												<path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z" />
												<circle cx="16" cy="23.5" r="1.5" />
												<path
													d="M17,8H15.5A4.49,4.49,0,0,0,11,12.5V13h2v-.5A2.5,2.5,0,0,1,15.5,10H17a2.5,2.5,0,0,1,0,5H15v4.5h2V17a4.5,4.5,0,0,0,0-9Z" />
											</svg>
											<div class="Nav-item">Help</div>
										</div>
									</a>

									<div id="moremenu" class="Nav-link">
										<div class="Nav-item-hover"><svg viewBox="0 0 24 24">
												<g>
													<path
														d="M16.5 10.25c-.965 0-1.75.787-1.75 1.75s.784 1.75 1.75 1.75c.964 0 1.75-.786 1.75-1.75s-.786-1.75-1.75-1.75zm0 2.5c-.414 0-.75-.336-.75-.75 0-.413.337-.75.75-.75s.75.336.75.75c0 .413-.336.75-.75.75zm-4.5-2.5c-.966 0-1.75.787-1.75 1.75s.785 1.75 1.75 1.75 1.75-.786 1.75-1.75-.784-1.75-1.75-1.75zm0 2.5c-.414 0-.75-.336-.75-.75 0-.413.337-.75.75-.75s.75.336.75.75c0 .413-.336.75-.75.75zm-4.5-2.5c-.965 0-1.75.787-1.75 1.75s.785 1.75 1.75 1.75c.964 0 1.75-.786 1.75-1.75s-.787-1.75-1.75-1.75zm0 2.5c-.414 0-.75-.336-.75-.75 0-.413.337-.75.75-.75s.75.336.75.75c0 .413-.336.75-.75.75z">
													</path>
													<path
														d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75zm0-20C6.9 2.75 2.75 6.9 2.75 12S6.9 21.25 12 21.25s9.25-4.15 9.25-9.25S17.1 2.75 12 2.75z">
													</path>
												</g>
											</svg>
											<div class="Nav-item">More</div>
										</div>
										<div class="more-menu-background" style="display: none;">
											<div class="more-modal-wrapper">
												<div class="more-menu-content" style="top: 353.65px; left: 147px;">
													<a class="more-menu-item" href="https://besocial.help" target="_blank"
														aria-label="help"><span>Help</span><span><svg viewBox="0 0 32 32">
																<path
																	d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z" />
																<circle cx="16" cy="23.5" r="1.5" />
																<path
																	d="M17,8H15.5A4.49,4.49,0,0,0,11,12.5V13h2v-.5A2.5,2.5,0,0,1,15.5,10H17a2.5,2.5,0,0,1,0,5H15v4.5h2V17a4.5,4.5,0,0,0,0-9Z" />
															</svg></span></a><a class="more-menu-item" href="https://breezescan.io"
														target="_blank"><span>Explorer</span><span><svg viewBox="0 0 487.95 487.95"
																style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
																<g>
																	<g>
																		<path
																			d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z" />
																	</g>
																</g>
															</svg></span></a>
													<div class="more-menu-item" id="uiModeChange"><span>Display</span><span><svg
																viewBox="0 0 512 512">
																<g>
																	<path fill="currentColor"
																		d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
																		data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
																	</path>
																	<path fill="currentColor"
																		d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
																		data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
																	</path>
																</g>
															</svg></span></div>
													<a class="more-menu-item more-item" href="/welcome" aria-label="welcome">
														<span>Login</span><span><svg viewBox="0 0 24 24">
																<g>
																	<path
																		d="M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z">
																	</path>
																</g>
															</svg></span>
													</a>
												</div>
											</div>
										</div>
									</div>
									<% } %>
										<div class="Nav-main">
											<% if(locals.connected){ %>
												<div class="Nav-entry-link" id="new_post_btn" data-ctModalTrigger="#tweet-modal">
													<div class="Nav-main-btn">POST</div>
												</div>
												<% } else { %>
													<div class="Nav-entry-link" id="main_login_btn">
														<div class="Nav-main-btn">Login</div>
													</div>
													<% /* %>
														<div class="Nav-entry-link" id="main_disconnect_btn">
															<div class="Nav-main-btn">Disconnect</div>
														</div>
														<% */ %>
															<% } %>
										</div>
						</nav>
						<div class="bottom_user_part" id="bottom_user">
							<div class="user_avater">
								<img alt="" src="https://i.postimg.cc/MZdNmMMN/user.png" class="home_pro_pic" width="100%"
									height="49px">
							</div>
							<div class="user_name">
								<h5>Abdullah</h5>
								<span>@abdullah</span>
							</div>
							<svg class="three_dot" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000"
								class="bi bi-three-dots" viewBox="0 0 16 16">
								<path
									d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
							</svg>

							<ul class="drop-up-menu" id="drop_up_menu">
								<li><a href="#">Add an existing account</a></li>
								<li><a href="#">Log out @mrhripon98</a></li>
							</ul>
						</div>

						<script>

							// script for bottom user drop up menu
							if (document.getElementById('bottom_user') !== null) {
								const bottom_user = document.getElementById('bottom_user');
								bottom_user.addEventListener('click', function (e) {
									e.preventDefault();
									this.classList.toggle('active')
									const dropUpMenu = document.getElementById('drop_up_menu');
									dropUpMenu.classList.toggle('show');
								})
							}

							// Function for hide any user dropupmenu hide on outside click 
							document.addEventListener('click', function (event) {
								const bottom_user = document.getElementById('bottom_user');
								if (!bottom_user.contains(event.target)) {
									document.getElementById('drop_up_menu').classList.remove('show')
								}
							});
						</script>
				</div>
			</div>
		</div>
	</div>
</nav>
<% if(typeof(lnav)=="undefined" ) lnav="" %>
	<script>var nav_val = "<%= lnav %>"</script>


	<div class="ct_modal" id="tweet-modal">
		<form action="#" class="ct_modal_inner">
			<div class="ct_modal_header">
				<button class="close_ct_modal" data-ctModalClose><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="rgb(15, 20, 25)" class="bi bi-x-lg" viewBox="0 0 16 16">
						<path
							d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
					</svg></button>
			</div>
			<div class="ct_modal_body">
				<div class="tweet_avater">
					<img src="" alt="Av">
				</div>


				<div class="tweet_content">
					<div class="select">
						<div class="selectBtn" data-type="firstOption">Everyone</div>
						<div class="selectDropdown">
							<h4 class="dropdown_title">Choose audience</h4>
							<div class="option" data-type="Everyone">
								<div class="option-inner">
									<span class="option-icon"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
											fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
											<path
												d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
										</svg></span>
									<div class="display-text">Everyone</div>
								</div>
							</div>
							<div class="option" data-type="Twitter Circle">
								<div class="option-inner">
									<span class="option-icon bg_green"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
											fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
											<path
												d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
										</svg></span>
									<div>
										<div class="display-text">Twitter Circle</div>
										<p>0 People <a href="#" class="c-link">Edit</a></p>
									</div>
								</div>

							</div>
						</div>
					</div>

					<textarea name="" id="" cols="20" rows="5" placeholder="What's happenning?"></textarea>

					<div class="select type-2">
						<div class="selectBtn" data-type="firstOption"><span class="option-icon"><svg
									xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
									class="bi bi-globe-americas" viewBox="0 0 16 16">
									<path
										d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
								</svg></span>Everyone</div>
						<div class="selectDropdown">
							<h4 class="dropdown_title">Who can reply? <span>Choose who can reply to this Tweet. Anyone mentioned can
									always reply.</span></h4>
							<div class="option" data-type="Everyone">
								<div class="option-inner">
									<div class="display-text"><span class="option-icon"><svg xmlns="http://www.w3.org/2000/svg" width="18"
												height="18" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
												<path
													d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
											</svg></span>Everyone</div>
								</div>
							</div>
							<div class="option" data-type="Everyone">
								<div class="option-inner">
									<div class="display-text"><span class="option-icon"><svg xmlns="http://www.w3.org/2000/svg" width="18"
												height="18" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
												<path
													d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z">
												</path>
											</svg></span> People you follow</div>
								</div>
							</div>
							<div class="option" data-type="Everyone">
								<div class="option-inner">
									<div class="display-text"><span class="option-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16"
												height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
												<path
													d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
											</svg></span> Only People you mention</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ct_modal_footer">
				<div class="ct_footer_left">
					<div class="tweet_content_options media">
						<label for="media"
							style="display: flex; align-items: center; justify-content: center; height: 100%; position: relative;">
							<input type="file" id="media"
								style="max-width: 0; max-height: 0; opacity: 0; visibility: hidden; position: absolute;">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1da1f2" class="bi bi-image"
								viewBox="0 0 16 16">
								<path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
								<path
									d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
							</svg>
						</label>
					</div>
					<div class="tweet_content_options">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1da1f2" class="bi bi-filetype-gif"
							viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M14 4.5V14a2 2 0 0 1-2 2H9v-1h3a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM3.278 13.124a1.403 1.403 0 0 0-.14-.492 1.317 1.317 0 0 0-.314-.407 1.447 1.447 0 0 0-.48-.275 1.88 1.88 0 0 0-.636-.1c-.361 0-.67.076-.926.229a1.48 1.48 0 0 0-.583.632 2.136 2.136 0 0 0-.199.95v.506c0 .272.035.52.105.745.07.224.177.417.32.58.142.162.32.288.533.377.215.088.466.132.753.132.268 0 .5-.037.697-.111a1.29 1.29 0 0 0 .788-.77c.065-.174.097-.358.097-.551v-.797H1.717v.589h.823v.255c0 .132-.03.254-.09.363a.67.67 0 0 1-.273.264.967.967 0 0 1-.457.096.87.87 0 0 1-.519-.146.881.881 0 0 1-.305-.413 1.785 1.785 0 0 1-.096-.615v-.499c0-.365.078-.648.234-.85.158-.2.38-.301.665-.301a.96.96 0 0 1 .3.044c.09.03.17.071.236.126a.689.689 0 0 1 .17.19.797.797 0 0 1 .097.25h.776Zm1.353 2.801v-3.999H3.84v4h.79Zm1.493-1.59v1.59h-.791v-3.999H7.88v.653H6.124v1.117h1.605v.638H6.124Z" />
						</svg>
					</div>
					<div class="tweet_content_options">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1da1f2" class="bi bi-check2-circle"
							viewBox="0 0 16 16">
							<path
								d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
							<path
								d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
						</svg>
					</div>
					<div class="tweet_content_options">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1da1f2" class="bi bi-emoji-frown"
							viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path
								d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
						</svg>
					</div>
					<div class="tweet_content_options">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1da1f2" class="bi bi-calendar-week"
							viewBox="0 0 16 16">
							<path
								d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
							<path
								d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
						</svg>
					</div>
				</div>
				<button type="submit" class="rd-btn">Tweet</button>
			</div>
		</form>
	</div>

	<div class="ct_modal" id="lens-connect-modal">
		<div class="modal-container">
			<div class="ct_modal_header">
				<button class="close_ct_modal" data-ctModalClose>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(15, 20, 25)" class="bi bi-x-lg"
						viewBox="0 0 16 16">
						<path
							d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
					</svg>
				</button>
			</div>
			<div class="modal-body">
				<h4>
					You have successfully connected to your wallet.
					</br>
					Please connect to the <a href="https://www.lens.xyz/" target="_blank" class="lens-link-color">lens</a> now.
				</h4>
			</div>
			<div class="ct_modal_footer">
				<button class="rd-btn" id="lens-connect">Connect to lens</button>
			</div>
		</div>
	</div>

	<div class="ct_modal" id="lens-claim-modal">
		<div class="modal-container">
			<div class="ct_modal_header">
				<button class="close_ct_modal" data-ctModalClose>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(15, 20, 25)" class="bi bi-x-lg"
						viewBox="0 0 16 16">
						<path
							d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
					</svg>
				</button>
			</div>
			<div class="modal-body">
				<h4>
					Claim your lens profile 🌿
					</br>
					Visit <a href="https://claim.lens.xyz/" target="_blank" class="lens-link-color">claiming site</a> to claim
					your profile now 🏃‍♂️
				</h4>
			</div>
			<div class="ct_modal_footer">
			</div>
		</div>
	</div>

	<script>
		// Script for open/close Modal 
		document.querySelectorAll('[data-ctModalTrigger]').forEach(single => {
			single.addEventListener('click', function (e) {
				e.preventDefault()
				const ctModal = document.querySelector(single.dataset.ctmodaltrigger)
				ctModal.classList.add('show');
				ctModal.insertAdjacentHTML('afterbegin', '<div class="ct_modal_overlay"></div>');
				ctModal.querySelector('.ct_modal_overlay').addEventListener('click', function () {
					this.closest('.ct_modal').classList.remove('show');
				})
			})
		})

		document.querySelectorAll('[data-ctModalClose]').forEach(single => {
			single.addEventListener('click', function (e) {
				e.preventDefault()
				this.closest('.ct_modal').classList.remove('show');
			})
		})


		// Script for Dropdown 
		let index = 1;

		const on = (listener, query, fn) => {
			document.querySelectorAll(query).forEach(item => {
				item.addEventListener(listener, el => {
					fn(el);
				})
			})
		}

		on('click', '.selectBtn', item => {
			const next = item.target.nextElementSibling;
			next.classList.toggle('toggle');
			next.style.zIndex = index++;
		});
		on('click', '.option', item => {
			item.target.closest('.selectDropdown').classList.remove('toggle');
			const parent = item.target.closest('.select').children[0];
			parent.setAttribute('data-type', item.target.closest('.option').getAttribute('data-type'));
			parent.innerHTML = item.target.closest('.option').querySelector('.display-text').innerHTML;
		})
	</script>
	<script type="text/javascript" src="/js/web3Modal.js"></script>