<div class="Home-header-wrapper">
	<span class="logo_img" onclick="window.location.href='/'"></span>
	<span>
		<h2 class="Home-header">New<sup class="bt_logo">beta</sup></h2>
	</span>
	<span class="header_share" onclick="window.location.href='/share'"/></span>
</div>
<div class="Top-input-divider"></div>